.App {
  text-align: center;
}

.navbar{
  background-color: #700B97;
  color: #FFFFFF;
  font-size: larger;
  padding:10px;
}

.material-symbols-outlined{
  position: absolute;
  left:510px;
}


.google-links{
  color: #9BCDD2;
  display: flex;
  margin-bottom: 70px;
  margin-left: 520px;
  
}
.holder{
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-left: 50px;
}
.place-image{
 height:300px;
 width:450px;
 
}
/* .location{
  font-family: 'Work Sans';
  display: flex;
  margin-top:-300px;
  margin-left: 600px;

}
.title{
  display: flex;
  margin-left:550px;
  
}
.date{
  display: flex;
  margin-left:550px;
  margin-bottom: -30px;
  flex-wrap: wrap;
} */
.place-image {
  height: 300px;
  width: 450px;
  display: flex;
  margin-left: 310px;
}

.location {
  font-family: 'Work Sans';
  margin-bottom: 10px; /* Add margin-bottom to create space below the location */
}

.title {
  margin-top: 20px;
}

.description {
  margin-top: 10px;
  white-space: normal; /* Allow wrapping of the description */
}







